menu "CanMV OpenMV Components Configurations"

    config CANMV_IDE_SUPPORT
        bool "Enable CanMV IDE Support"
        default y
        depends on CANMV_REPL_UART_USB
        help
          Enable the CanMV IDE debug protocol over UART.
          When disabled, only the REPL is available on the
          selected UART.

    comment "FB Configuration"

    config CANMV_OPENMV_CFG_FB_ALLOC_SIZE
        hex "OpenMV FB Alloc Max Size"
        default 0x600000
    config CANMV_OPENMV_CFG_FB_ALLOC_COUNT
        int "OpenMV FB Alloc Buffer Count"
        default 256

endmenu
