menu "Ext Driver"
    source "drivers/extdrv/cyw43xx/Kconfig"
    source "drivers/extdrv/eeprom/Kconfig"
    source "drivers/extdrv/realtek/Kconfig"
    source "drivers/extdrv/regulator/Kconfig"
    source "drivers/extdrv/spinand/Kconfig"
    source "drivers/extdrv/touch/Kconfig"
    source "drivers/extdrv/ws2812/Kconfig"
    source "drivers/extdrv/onewire/Kconfig"
    source "drivers/extdrv/rw007/Kconfig"
    source "drivers/extdrv/lsm6dsm/Kconfig"
endmenu
