menuconfig RT_USING_REGULATOR
    bool "Enable regulator Driver"
    depends on RT_USING_PM
    default n

    if RT_USING_REGULATOR
        config RT_USING_REGULATOR_TPS6286X
            bool "Use TPS6286X"
            default n

        menuconfig RT_USING_REGULATOR_CPU
            bool "Enable regulator for CPU"

            if RT_USING_REGULATOR_CPU
                config RT_REGULATOR_CPU_I2C_DEV
                    string "Regulator for CPU I2C Device name"
            endif

        menuconfig RT_USING_REGULATOR_KPU
            bool "Enable regulator for KPU"

            if RT_USING_REGULATOR_KPU
                config RT_REGULATOR_KPU_I2C_DEV
                    string "Regulator for KPU I2C Device name"
            endif
    endif
