if RTT_ENABLE_BUILD_INTEGRATED_EXAMPLES
    config RTT_INTEGRATED_EXAMPLES_SMART_IPC
        bool "Smart IPC examples"
        default y
    config RTT_INTEGRATED_EXAMPLES_MULTSOURCE_AI_ANALYZER
        bool "Multisource AI Analyzer"
        default n
        select MPP_ENABLE_MIDDLEWARE_LIB_X264
        select MPP_ENABLE_MIDDLEWARE_LIB_FFMPEG
endif
