*.o
*.o.d
*.d
*.version
.depend

.cache
.clangd
compile_commands.json
compile_commands.events.json

build

include/comm/k_autoconf_comm.h

# these library is open
kernel/lib/libconnector.a
kernel/lib/libfft.a
kernel/lib/libinclude.a
kernel/lib/liblib.a
kernel/lib/libmediafreq.a
kernel/lib/libpm.a
kernel/lib/libsensor.a

userapps/lib/libcipher.a
userapps/lib/libconnector.a
userapps/lib/libfft.a
userapps/lib/libpm.a
userapps/lib/libsensor.a
userapps/lib/libuvc.a
userapps/lib/libvg_lite.a
userapps/lib/libvg_lite_util.a
userapps/lib/libframework.a

userapps/sample/elf/

userapps/src/sensor/dewarp/imx335-1920x1080.bin
userapps/src/sensor/dewarp/imx335-2592x1944.bin

middleware/elf/
middleware/lib/

middleware/src/ffmpeg/src/**/lib*.a
middleware/src/ffmpeg/src/**/lib*.pc
middleware/src/ffmpeg/src/ffprobe
middleware/src/ffmpeg/src/ffprobe_g
middleware/src/ffmpeg/src/lib_ffmpeg
middleware/src/ffmpeg/src/ffbuild/.config

middleware/src/x264/src/x264
middleware/src/x264/src/lib_x264
middleware/src/x264/src/libx264.a
middleware/src/x264/src/common/oclobj.h

tuning_server.elf

.sisyphus
fuzz_test/build
unit_test/build
