menuconfig RT_USING_WS2812
    bool "Enable WS2812"
    default n

    if RT_USING_WS2812
        choice WS2812_USE_DRV
            bool "WS2812 Use Drive mode"
            default WS2812_USE_DRV_GPIO

            config WS2812_USE_DRV_GPIO
                bool "Using GPIO"
            config WS2812_USE_DRV_I2S
                bool "Using I2S"
        endchoice
    endif
