config DDR_K230D
    def_bool n

if DDR_K230D
    choice
        prompt "DDR Type And Frequency"
        default K230D_SIP_LPDDR4_2667

        config K230D_SIP_LPDDR4_1600
            bool "SiP LPDDR4@1600"

        config K230D_SIP_LPDDR4_1600_NODT
            bool "SiP LPDDR4@1600 NODT"

        config K230D_SIP_LPDDR4_2667
            bool "SiP LPDDR4@2667"

        config K230D_SIP_LPDDR4_3200_ALLODT
            bool "SiP LPDDR4@3200 allodt"

        config K230D_SIP_LPDDR4_3200_HWODT
            bool "SiP LPDDR4@3200 hwodt"
    endchoice
endif
