if TARGET_K230_BURNTOOL

    config SYS_CPU
        default "k230"

    config SYS_VENDOR
        default "kendryte"

    config SYS_BOARD
        default "k230_burntool"

    config SYS_CONFIG_NAME
        default "k230_common"

    config BOARD_SPECIFIC_OPTIONS
        def_bool y
        select KENDRYTE_K230

    config MMC_AUTO_DETECT_VOLTAGE
        def_bool y
        depends on MMC_SDHCI_SNPS

    config USB_GADGET_DETECT_HS_FS
        def_bool y

endif
