CONFIG_BOARD_CONFIG_NAME="k230d_canmv_junroc_ai_cam_defconfig"
CONFIG_BOARD_K230D_CANMV_JUNROC_AI_CAM=y
# CONFIG_ENABLE_NETWORK_RT_LAN_OVER_USB is not set
CONFIG_MPP_DEFAULT_SENSOR_CSI_1=y
CONFIG_MPP_ENABLE_CSI_DEV_1=y
CONFIG_MPP_CSI_DEV1_RESET=10
CONFIG_MPP_CSI_DEV1_I2C_DEV="i2c4"
CONFIG_MPP_CSI_DEV1_MCLK_1=y
CONFIG_MPP_ENABLE_SENSOR_GC2093=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI1_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_SENSOR_OV5647=y
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_ENABLE_LCD_HX8399=y
CONFIG_MPP_DSI_ENABLE_LCD_ST7701=y
CONFIG_SDK_ENABLE_CANMV=y
