CONFIG_BOARD_CONFIG_NAME="k230d_rtos_evb_defconfig"
CONFIG_BOARD_K230D_EVB=y
CONFIG_MEM_RTSMART_SIZE=0x4400000
CONFIG_MEM_RTSMART_HEAP_SIZE=0x1000000
CONFIG_MEM_MMZ_BASE=0x4400000
CONFIG_MEM_MMZ_SIZE=0x3C00000
CONFIG_RTT_AUTO_EXEC_CMD=""
CONFIG_RTT_ENABLE_BUILD_EXAMPLES=y
CONFIG_RTT_ENABLE_BUILD_INTEGRATED_EXAMPLES=y
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_CSI_DEV0_RESET=37
CONFIG_MPP_ENABLE_SENSOR_IMX335=y
CONFIG_MPP_SENSOR_IMX335_ENABLE_4LANE_CONFIGURE=y
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_LCD_RESET_PIN=21
CONFIG_MPP_DSI_LCD_BACKLIGHT_PIN=20
# CONFIG_MPP_DSI_ENABLE_VIRT is not set
CONFIG_MPP_DSI_ENABLE_LCD_HX8399=y
CONFIG_MPP_ENABLE_USERAPPS_SAMPLES=y
# CONFIG_MPP_ENABLE_USER_SAMPLES_FASTBOOT_APP is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_ADC is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_AUDIO is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_AV is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_CANAN_UART_RX is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_CANAN_UART_TX is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_CIPHER is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_CSC is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_DMA is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_DMA_BIND is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_DPU is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_DPU_VICAP is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_DPU_VO is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_DW200 is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_EEPROM is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_FACE_AE is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_FACE_DETECT is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_FFT is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_GPIO is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_I2C_SLAVE is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_LOG is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_MMZ is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_NONAI_2D is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_OTP is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_PWM is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_SENSOR_OTP is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_TRIPLE_CAMERA_FACEDETECT is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_TS is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VB is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VDD_R is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VDEC is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VDSS is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VDV is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VENC is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VICAP is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VIRTUAL_VIO is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_VO is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_WDT is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_TIGER is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_UVC is not set
# CONFIG_MPP_ENABLE_USER_SAMPLES_SAMPLE_JAMLINK is not set
CONFIG_OPENSBI_USE_PREBUILT_FW_JUMP=y
