CONFIG_BOARD_CONFIG_NAME="k230_canmv_gt6700_camera_ext_defconfig"
CONFIG_BOARD_K230_CANMV_GT6700=y
CONFIG_UBOOT_CONFIG_FILE="k230_canmv_gt6700_camera_ext"
CONFIG_ENABLE_UVC_CAMERA=y
CONFIG_MPP_DEFAULT_SENSOR_CSI_2=y
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_CSI_DEV0_RESET=61
CONFIG_MPP_CSI_DEV0_MCLK_3=y
CONFIG_MPP_ENABLE_CSI_DEV_1=y
CONFIG_MPP_CSI_DEV1_RESET=60
CONFIG_MPP_CSI_DEV1_MCLK_2=y
CONFIG_MPP_ENABLE_CSI_DEV_2=y
CONFIG_MPP_CSI_DEV2_RESET=21
CONFIG_MPP_CSI_DEV2_I2C_DEV="i2c4"
CONFIG_MPP_CSI_DEV2_MCLK_1=y
CONFIG_MPP_ENABLE_SENSOR_GC2093=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI0_USE_CHIP_CLK=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI1_USE_CHIP_CLK=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI2_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_DSI_HDMI=y
CONFIG_MPP_DSI_HDMI_RESET_PIN=24
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_LCD_RESET_PIN=22
CONFIG_MPP_DSI_ENABLE_HDMI_LT9611=y
CONFIG_MPP_DSI_ENABLE_LCD_GC9503=y
CONFIG_OPENSBI_USE_PREBUILT_FW_JUMP=y
CONFIG_SDK_ENABLE_CANMV=y
CONFIG_CANMV_OPENMV_CFG_FB_ALLOC_SIZE=0x800000
