CONFIG_BOARD_CONFIG_NAME="k230_canmv_mrt_defconfig"
CONFIG_BOARD_K230_CANMV_MRT=y
CONFIG_AUTO_DETECT_DDR_SIZE=y
# CONFIG_AUTO_DDR_SIZE_512 is not set
# CONFIG_AUTO_DDR_SIZE_2048 is not set
CONFIG_UBOOT_USE_PREBUILT=y
CONFIG_ENABLE_DUAL_CDC_PORT=y
# CONFIG_ENABLE_NETWORK_RT_LAN_OVER_USB is not set
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_CSI_DEV0_POWER=11
CONFIG_MPP_CSI_DEV0_RESET=9
CONFIG_MPP_CSI_DEV0_I2C_DEV="i2c4"
CONFIG_MPP_CSI_DEV0_MCLK_1=y
CONFIG_MPP_ENABLE_SENSOR_GC2093=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI0_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_LCD_RESET_PIN=43
CONFIG_MPP_DSI_LCD_BACKLIGHT_PIN=42
CONFIG_MPP_DSI_ENABLE_LCD_ST7701=y
CONFIG_OPENSBI_USE_PREBUILT_FW_JUMP=y
CONFIG_SDK_ENABLE_CANMV=y
