CONFIG_BOARD_CONFIG_NAME="k230d_canmv_evb_defconfig"
CONFIG_BOARD_K230D_EVB=y
CONFIG_MEM_RTSMART_HEAP_SIZE=0x1000000
CONFIG_RTSMART_CONFIG_FILE="k230d_evb_canmv"
# CONFIG_ENABLE_NETWORK_RT_LAN_OVER_USB is not set
# CONFIG_ENABLE_NETWORK_RT_WLAN is not set
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_CSI_DEV0_RESET=37
CONFIG_MPP_ENABLE_SENSOR_IMX335=y
CONFIG_MPP_SENSOR_IMX335_ENABLE_4LANE_CONFIGURE=y
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_LCD_RESET_PIN=21
CONFIG_MPP_DSI_LCD_BACKLIGHT_PIN=20
# CONFIG_MPP_DSI_ENABLE_VIRT is not set
CONFIG_MPP_DSI_ENABLE_LCD_HX8399=y
CONFIG_OPENSBI_USE_PREBUILT_FW_JUMP=y
CONFIG_SDK_ENABLE_CANMV=y
# CONFIG_ENABLE_MODULE_CV_LITE is not set
CONFIG_CANMV_OPENMV_CFG_FB_ALLOC_SIZE=0x500000
