menuconfig RT_USING_REALTEK
    bool "Enable Realtek WiFi Driver"
    default n

    if RT_USING_REALTEK
        choice REALTEK_SDIO_DEV
            bool "Realtek Wifi Use SDIO Device"

            config REALTEK_SDIO_DEV0
                bool "Using SDIO0"
            config REALTEK_SDIO_DEV1
                bool "Using SDIO1"
        endchoice

        config REALTEK_SDIO_DEV
            int
            default 0 if REALTEK_SDIO_DEV0
            default 1 if REALTEK_SDIO_DEV1
        
        config REALTEK_SDIO_DEV_RESET
            int "RealTek WiFi Card Reset"
            default -1
            depends on REALTEK_SDIO_DEV1

        choice
            prompt "realtek module"
            default REALTEK_SDIO_RTL8189FTV

            config REALTEK_SDIO_RTL8189FTV
                bool "rtl8189"

            config REALTEK_SDIO_RTL8733BS
                bool "rtl8733BS"

        endchoice

        config REALTEK_INTERACTIVE_CMD
            bool "RealTek Interactive CMDs"
            default n
            select REALTEK_ENABLE_DEBUG

        config REALTEK_ENABLE_DEBUG
            bool "RealTek Enable Debug"
            default n

        config REALTEK_ENABLE_ADAPTIVITY
            bool "RealTek Enable Adaptivity"
            default n
    endif
