*~
*.a
*.diff
*.orig
*.rej
*.dll*
*.exe
*.lib
*.pdb
*.mo
*.o
*.patch
*.pot
*.so*
*.dylib
.*.swp
.depend
.DS_Store
TAGS
x264
checkasm

*.264
*.h264
*.2pass
*.ffindex
*.avs
*.mkv
*.flv
*.mp4
*.y4m
*.yuv
*.log
*.mbtree
*.temp
*.pyc
*.pgd
*.pgc

.digress_x264
dataDec.txt
log.dec
common/oclobj.h
x264_lookahead.clbin
